
@import '~antd/dist/antd.css';

.header {
  margin-top: 30px;
  margin-bottom: 30px;
  .project-name {
    font-weight: bolder;
    margin-bottom: 10px;
  }
  .generate-btn {
    margin-left: 20px;
  }
  .clear-btn {
    margin-left: 10px;
  }
  .spin-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 100%;
    margin-left: -50%;
    background: rgba(0, 0, 0, 0.3);
  }
}
