
@import '~antd/dist/antd.css';

.header {
  margin-bottom: 100px;
  .generate-btn {
    margin-left: 20px;
  }
  .spin-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 100%;
    margin-left: -50%;
    background: rgba(0, 0, 0, 0.3);
  }
}
